---
Internal-Link: www.vcu.com
External-Link: www.google.com
Image: http://placehold.it/100x100/56a5eb/ffffff/&text=100x100px
Heading: Media heading
Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam dolor aspernatur deserunt, laboriosam fugit. Provident possimus iste suscipit, nam molestias explicabo? Cupiditate eaque odit debitis possimus tenetur rerum officia sapiente laudantium assumenda libero corrupti distinctio, quidem necessitatibus. Nihil quaerat veritatis tempora veniam possimus sed id incidunt eius sunt atque!
---
<div class="module">
    <div class="media">
        <a class="pull-left" href="{{ child-pages.Internal-Link }}">
            <img class="media-object" src="{{ child-pages.Image }}" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ child-pages.Heading }}</h4>
            {{ child-pages.Description }}
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="{{ child-pages.Internal-Link }}">
            <img class="media-object" src="{{ child-pages.Image }}" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ child-pages.Heading }}</h4>
            {{ child-pages.Description }}
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="{{ child-pages.Internal-Link }}">
            <img class="media-object" src="{{ child-pages.Image }}" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ child-pages.Heading }}</h4>
            {{ child-pages.Description }}
        </div>
    </div>
</div>
