---
Staff-First-Name: Sam
Staff-Middle-Initial: W
Staff-Last-Name: Yerkes
Staff-Title: Webmaster
Staff-Email: syerkes@vcu.edu
Staff-Phone: (804) 827-0067
---
<div class="row searchable">
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>{{ staff-listing.Staff-First-Name }} {{ staff-listing.Staff-Middle-Initial }}. {{ staff-listing.Staff-Last-Name }}</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>{{ staff-listing.Staff-First-Name }} {{ staff-listing.Staff-Middle-Initial }}. {{ staff-listing.Staff-Last-Name }}</strong><br />
		Etiam porta sem malesuada magna mollis euismod.<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>{{ staff-listing.Staff-First-Name }} {{ staff-listing.Staff-Middle-Initial }}. {{ staff-listing.Staff-Last-Name }}</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>{{ staff-listing.Staff-First-Name }} {{ staff-listing.Staff-Middle-Initial }}. {{ staff-listing.Staff-Last-Name }}</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>
	<div class="col-xs-4 col-xxs-6 staff-lg listing">
		<img src="http://placehold.it/300x400/56a5eb/ffffff/&text=profile+image+(300x400px)" alt="" class="img-thumbnail">
		<p class="text-muted text-center"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</strong><br />
		Webmaster<br />
		<a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></p>
	</div>

</div>


