---
Staff-First-Name: Sam
Staff-Middle-Initial: W
Staff-Last-Name: Yerkes
Staff-Title: Assistant Professor, early modern Britain, the British West Indies, Atlantic History
Staff-Email: syerkes@vcu.edu
Staff-Phone: (804) 827-0067
---

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Title</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody class="searchable">		
		<tr class="listing">
			<td><a href="#">{{ staff-listing.Staff-First-Name }} {{ staff-listing.Staff-Middle-Initial }}. {{ staff-listing.Staff-Last-Name }}</a></td>
			<td>{{ staff-listing.Staff-Title }}</td>
			<td><a href="mailto:{{ staff-listing.Staff-Email }}">{{ staff-listing.Staff-Email }}</a></td>
			<td>{{ staff-listing.Staff-Phone }}</td>
		</tr>

		<tr class="listing">
			<td><a href="#">John Wallace</a></td>
			<td>Communication Coordinator</td>
			<td><a href="mailto:jwallace@vcu.edu">jwallace@vcu.edu</a></td>
			<td>(804) 333-4444</td>
		</tr>
	</tbody>
</table>