---
Staff-First-Name: Sam
Staff-Middle-Initial: W
Staff-Last-Name: Yerkes
Staff-Title: Webmaster
Staff-Email: syerkes@vcu.edu
Staff-Phone: (804) 827-0067
---
<style>
	.table {width: auto !important;}
</style>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="hidden-xs"></th>
			<th>Name</th>
			<th>Title</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody class="searchable">
		<tr class="listing">
			<td class="hidden-xs col-md-2"><img src="http://placehold.it/100x100/56a5eb/ffffff/&text=square+image" alt=""></td>
			<td><a href="#">{{ staff-listing-table-picture.Staff-First-Name }} {{ staff-listing-table-picture.Staff-Middle-Initial }}. {{ staff-listing-table-picture.Staff-Last-Name }}</a></td>
			<td>{{ staff-listing-table-picture.Staff-Title }}</td>
			<td><a href="mailto:{{ staff-listing-table-picture.Staff-Email }}">{{ staff-listing-table-picture.Staff-Email }}</a></td>
			<td>{{ staff-listing-table-picture.Staff-Phone }}</td>
		</tr>

		<tr class="listing">
			<td class="hidden-xs col-md-2"><img src="http://placehold.it/100x100/56a5eb/ffffff/&text=square+image" alt=""></td>
			<td><a href="#">John Wallace</a></td>
			<td>Communication Coordinator</td>
			<td><a href="mailto:jwallace@vcu.edu">jwallace@vcu.edu</a></td>
			<td>(804) 333-4444</td>
		</tr>
	</tbody>
</table>