---
Parent-Parent-Organization: Parent Parent Organization
Parent-Organization: Parent Organization
Department-Name: Generic Department
Street: 401 College Street, P.O. Box 980037
City: Richmond
State: Virginia
Zipcode: 23298-0037
Email: email@vcu.edu
Phone: XXX-XXX-XXXX
Fax: XXX-XXX-XXXX
---

<div class="col-md-pull-6 col-md-6">
    <p><a href="http://www.vcu.edu" alt="Virginia Commonwealth University">Virgina Commonwealth University</a><br />
        <a href="#" alt="{{ footer.Department-Name }}">{{ footer.Parent-Parent-Organization }}</a><br />
        <a href="#" alt="{{ footer.Department-Name }}">{{ footer.Parent-Organization }}</a><br />
        <a href="#" alt="{{ footer.Department-Name }}">{{ footer.Department-Name }}</a><br />
        {{ footer.Street }}<br />
        {{ footer.City }}, {{ footer.State }} {{ footer.Zipcode }}<br />
        Email: <a href="mailto:{{ footer.Email }}">{{ footer.Email }}</a><br />
        Phone: {{ footer.Phone }}<br />
        Fax: {{ footer.Fax }}
    </p>
            