---
Department-Name: Generic Department
Street: 401 College Street, P.O. Box 980037
City: Richmond
State: Virginia
Zipcode: 23298-0037
Phone: XXX-XXX-XXXX
Fax: XXX-XXX-XXXX
---
<p><a href="http://www.vcu.edu" alt="Virginia Commonwealth University">Virgina Commonwealth University</a>
    <br />
    <a href="#" alt="{{ footer.Department-Name }}">{{ footer.Department-Name }}</a>
    <br />{{ footer.Street }}
    <br />{{ footer.City }}, {{ footer.State }} {{ footer.Zipcode }}
    <br />Phone: {{ footer.Phone }}
    <br />Fax: {{ footer.Fax }}
</p>
<p>Last Updated: 09/11/2014 <a href="#" class="t4Edit-page">Edit</a>
</p>