---
Facebook: #
Twitter: #
Instagram: #
Youtube: #
Tumblr: #
Pinterest: #
GooglePlus: #
Linkedin: #
Vimeo: #
Wordpress: #
---
<div class="content container">
    <div class="row">
        <div class="col-md-push-6 col-md-6">
            <ul class="social">
                <li><a href="{{ social-media.Facebook }}"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Twitter }}"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Instagram }}"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Youtube }}"><i class="fa fa-youtube fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Tumblr }}"><i class="fa fa-tumblr fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Pinterest }}"><i class="fa fa-pinterest fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.GooglePlus }}"><i class="fa fa-google-plus fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Linkedin }}"><i class="fa fa-linkedin fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Vimeo }}"><i class="fa fa-vimeo-square fa-2x"></i></a>
                </li>
                <li><a href="{{ social-media.Wordpress }}"><i class="fa fa-wordpress fa-2x"></i></a>
                </li>
            </ul>
        </div>
    



